<webobject name = "Container">
<webobject name = "RoleForm">
<table style="padding:10px;">
		<th colspan = "2">Formulaire d'&eacute;dition d'un r&ocirc;le ou d'une fonction</th>
		<tr>
			<td>Code du r&ocirc;le : </td>
			<td><webobject name = "CodeRole"/></td>
		</tr>
		<tr>
			<td>Libell&eacute; du r&ocirc;le : </td>
			<td><webobject name = "LibelleRole"/></td>
		</tr>
		<tr>
			<td>R&ocirc;le local : </td>
			<td><webobject name = "RoleLocal"/></td>
		</tr>
		<tr>
			<td>Commentaire sur la relation avec le parent : </td>
			<td><webobject name = "commentaireAssoReseau"/></td>
		</tr>
		<tr>
			<td>Rang de la relation avec le parent : </td>
			<td><webobject name = "RangAssoReseau"/></td>
		</tr>
		<tr>
      <td colspan = "2" align = "right">
        <webobject name = "Annuler" />
        <webobject name = "AjouterRole" />
      </td>
    </tr>
	</table>
</webobject>
</webobject>
