<webobject name = "CONDShowCompte">
  <div class = "box">
    <div class = "boxTitre">Compte&nbsp;</div>
    <div class = "blocInstruction">S&eacute;lectionnez un compte pour l'associer au fournisseur.</div>
    <webobject name = "ISCompteAuto">
      <webobject name = "ISNotCompte">
        <div class = "blocInfo">Un compte d'acc&egrave;s externe sera automatiquement cr&eacute;&eacute; pour le fournisseur lors de l'enregistrement.</div>
      </webobject>
    </webobject>
    <webobject name = "Form">
        <webobject name = "ViewCompte" />
    </webobject>
  </div>
</webobject>