<div class = "blocInfo">
  Cr&eacute;&eacute; par 
  <webobject name = "SCreateur" />
  le 
  <webobject name = "CreationDate" />
  <webobject name = "IFValideur">
    , valid&eacute; par 
    <webobject name = "SValideur" />
    le 
    <webobject name = "ValidationDate" />
  </webobject>
</div>
<webobject name = "FieldObserverValidite">
  <label>
    <strong>Etat du fournisseur : </strong>
  </label>
  <webobject name = "RadioFouValideEnCours" />En cours de validation&nbsp; 
  <webobject name = "RadioFouValideValide" />Valide &nbsp; 
  <webobject name = "RadioFouValideAnnule" />Annul&eacute; 
</webobject>