# (c) Cocktail
# Fichier de config de l'application AGRHUM 
# Les parametres definis ici remplacent ceux
# definis dans la table GRHUM.GRHUM_PARAMETRES 

APP_USE_MAIL=YES
HOST_MAIL=mailhost.cocktail.org
ADMIN_MAIL=alain.malaplate@cocktail.org
DOMAIN_NAME=cocktail.org

APP_ID=AGRHUM
APP_ALIAS=AGrhum
APP_TITLE=AGRHUM
APP_USE_GEDFS=NO
APP_ULR=http://www.cocktail.org

#Config SAUT + Modeles
#SAUT_URL = Adresse de votre serveur SAUT si vous en avez un 
#(du type http://www.univ-xxxxxx.fr/cgi-bin/WebObjects/SAUT.woa/wa/)
SAUT_URL=http://localhost:8686/cgi-bin/WebObjects/ServAut.woa/wa/
SAUT_ID_TRANSLATION=AGRHUM:GRHUM,MANGUE:GRHUM,COCOWORK:GRHUM,GB_COUR:GRHUM,BIBASSE:GRHUM
#SAUT_ID_TRANSLATION=AGRHUM:AGRHUMCOT,MANGUE:AGRHUMCOT,GRHUM:AGRHUMCOT,COCOWORK:AGRHUMCOT,GB_COUR:AGRHUMCOT,BIBASSE:AGRHUMCOT

NET_NO_PROXY_HOSTS=*.univ-xxxxx.fr

#Identification CAS
#utilisation de l'identification CAS
#APP_USE_CAS=(YES|NO)
APP_USE_CAS=NO

MODE_DEBUG=true

#MAIN_WEB_SITE_URL=http://www.google.fr

TOS_JOB_CENTER_FOLDER=/tmp/Jobs

## Ce paramètre permet de ne pas afficher certains menus sur la page d'accueil de AGrhum.
## La valeur est une liste séparée par une virgule, de noms parmis les nom suivants :
## FOURNISPHYS (Menu des fournisseurs et clients personnes physiques)
## TICKETWIFI (Menu de gestion des tickets Wifi)
## CONTACTS (Menu de gestion des contacts)
## PARTENAIRES (Menu des Partenaires)
## FOURNISMORAL (Menu des fournisseurs et clients personnes morales)
## FOURNISINTERNES (Menu des fournisseurs internes)
## PERSMORALES (Menu des autres personnes morales)
#AGRHUM_MENUS_EXCLUS=PARTENAIRES


## Ce paramètre permet de fixer la limite du nombre de résultats renvoyés par les requêtes de recherche de personnes.
## Par defaut, il est fixé à 20 personnes. Si ce paramètre n'est pas fixé, la valeur par défaut sera prise en compte.
AGRHUM_RESULTAT_RECHERCHE_LIMITE=40

## Ce paramètre permet de fixer la liste des CStructure des groupes (ou structures) contenant les utilisateurs ayant 
## le droit d'accèder à AGRHUM.
C_STRUCTURE_LIST_AGRHUM_USERS=38, 7
