<webobject name = "Container">
<webobject name = "Form">
<div class = "box">
  
    <div class = "boxTitre">Identification</div>
    <div style="text-align:left;padding:2px;">
        <webobject name = "SNom"></webobject>
    </div>
  <!-- Afficher les champs de saisie pour SIRET, TVA intra, NAF -->
  <div class = "boxTitre">Informations administratives</div>
  
  <webobject name = "FournisseurInfoAdmin" />
  <webobject name = "PersonneAdminUI1" />
  </div>
<div class = "box">
  <div class = "boxTitre">Coordonn&eacute;es bancaires</div>
  <webobject name = "UNRibUI" />
</div>
  </webobject>
  </webobject>
