<table width = "100%">
  <tr>
    <th>Code Fournisseur</th>
    <td><webobject name = "SFouCode" /></td>
  </tr>
  <tr>
    <th colspan = "2">
      <webobject name = "FieldObserverGeneric">Type : 
        <webobject name = "RadioFouFournisseur" />
        <label for = "RadioFouFournisseur">Fournisseur</label>&nbsp;<webobject name = "RadioFouClient" />
        <label for = "RadioFouClient">Client</label>&nbsp;<webobject name = "RadioFouTiers" />
        <label for = "RadioFouTiers">Fournisseur et client</label>
      </webobject>
    </th>
  </tr>
  <tr>
    <th colspan = "2">
      <webobject name = "FieldObserverEtranger">
        <webobject name = "CBFouEtranger" />
        <label for = "CBFouEtranger">Fournisseur &eacute;tranger</label>
      </webobject>
    </th>
  </tr>
</table>