<webobject name = "Wrapper">
	<webobject name = "PersonneMultipleContainer">
	    <webobject name = "Form">
		    <webobject name = "IsSearchMode">
		      <webobject name = "MultiplePersSrch">
			      <webobject name = "Annuler" />
			      <webobject name = "ChoisirRoles" />
			      <webobject name = "AjouterPersonnes" />
		      </webobject>
		    </webobject>
		    <webobject name = "IsRoleSelectionMode">
		      <webobject name = "MultiplePersRole">
		      	<webobject name = "RetourSelection" /><br /><br />
		      	<webobject name = "Annuler" />
		      	<webobject name = "AjouterPersonnes" />
		      </webobject>
		    </webobject>
	    </webobject>
	</webobject>
</webobject>