<webobject name = "Form">
	<div class="box">
		<div class="boxTitre">Entreprises</div>
		
	</div>
    <div class="box">
      <div class="boxTitre">Rôles du contact</div>
      <div class="cktlComponentContent">
       <div class = "cadre">
            <webobject name = "PersonneGroupesForm1"/>
            <div>
            <webobject name = "ShowButtons">
                <webobject name = "SubmitButtonAffectationAnnuler" />&nbsp;<webobject name = "SubmitButtonAffectationEnregistrer" />
            </webobject>
            </div>
       </div>
       </div>
    </div>
</webobject>
