<webobject name = "Wrapper">
  <webobject name = "IndividuContainer">
    <webobject name = "DetailForm">
      <div class = "boxTitre" style = "text-align:center;">
        <webobject name = "HasIndividu">&Eacute;dition de l'individu : <webobject name = "NomIndividu" /></webobject>&nbsp; 
      </div>
      <webobject name = "EditIndividu" />
      <webobject name = "BasToolbar">
        <webobject name = "Annuler" />
        <webobject name = "Valider" />
      </webobject>
    </webobject>
  </webobject>
  <br style = "clear:both;" />
</webobject>