
<webobject name = "GlobalSrchContainer">
  Recherche :<webobject name = "GlobalSrchForm">
    <webobject name = "TFSrchPatern" /> <webobject name = "BTRechercher" />
    <webobject name = "RechercherSubmitFunction"/>
    </webobject>
    <webobject name = "RechercheAvancee">Recherche avancée</webobject>
</webobject>
<webobject name = "GlobalSrchResultModal">
  <webobject name = "hasResults">
    <webobject name = "PersonneResultTableView" />
    <webobject name = "BTSelectionner" />
  </webobject>
  <webobject name = "NotHasResults"> Aucune personne trouv&eacute;e.<br /> </webobject>
</webobject>