    <webobject name = "ContainerPersonneGestionEtapes">
      <table>
        <tbody>
          <tr>
            <th style = "border-bottom:1px solid;text-align:center;">
            	Etapes :
            </th>
          </tr>
          <tr>
            <td valign = "middle">
              <webobject name = "Etapes">
                <webobject name = "DivEtape">
                	<webobject name = "isCreationMode"><webobject name = "Etape" /></webobject>
                    <webobject name = "isEditMode"><webobject name = "SelectEtapeHyperLink"><webobject name = "Etape" /></webobject></webobject>
                </webobject>
              </webobject>
            </td>
          </tr>
        </tbody>
      </table>
    </webobject>
  
  <webobject name = "ContainerPersonneGestionContent">
    <webobject name = "ContainerModuleAssistantPersonne">
        <div><webobject name = "Module" /></div>
    </webobject>
        <webobject name = "ContainerPersonneGestionMenu">
        <center>
          <table width = "100%">
            <tbody>
              <tr height = "100%">
                <td width = "25%" align = "left"><webobject name = "Annuler"/></td>
                <td width = "50%" align = "center"><webobject name = "Precedent"/><webobject name = "Suivant"/></td>
                <td width = "25%" align = "right"><webobject name = "Terminer"/></td>
              </tr>
            </tbody>
          </table>
          </center>
        </webobject>
    </webobject>
